<!DOCTYPE html>
<html>
<head>
    <title>How we score - ESG Report</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>How We Score</h1>
        <nav>
            <ul>
                <li><a href="test.html">home</a></li>
                <li><a href="what_we_do.html">What we do</a></li>
                <li><a href="how_we_score.html">How we score</a></li>
                <li><a href="who_we_are.html">Who we are</a></li>
            </ul>
        </nav>
       
    </header>

    <main>
        <section>
            <h2>评分方法</h2>
            <p>解释评分细节。</p>
        </section>
    </main>

    <footer>
    </footer>
</body>
</html>
